@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inspiration";
  src: url("./fonts/Inspiration-Regular.ttf");
}
@font-face {
  font-family: "irish";
  src: url("./fonts/IrishGrover-Regular.ttf");
}

.menuAbajo {
  border-radius: 50px 50px 0 0; /* Radio del borde para la parte superior curva */
  width: 102%; /* 3/4 */
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

.image-gallery {
  width: 100%;
  height: auto;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 0.5rem;
}

.image-gallery-slide img {
  width: 100%;
  height: 200px;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  object-position: center center;
}

.sombraHeader {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

.derretidoFresa {
  position: absolute;
  width: 74px;
  height: 15px;
  left: 123px;
  top: 55px;

  background: #e188b5;
}

.bg-a56150 {
  background-color: #a56150;
}
.bg-E188B5 {
  background-color: #e188b5;
}
.bg-E98746 {
  background-color: #e98746;
}
.bg-F5F5DC {
  background-color: #f5f5dc;
}
.bg-F9E5BC {
  background-color: #f9e5bc;
}
.bg-F9A217 {
  background-color: #f9a217;
}
.bg-ffffff {
  background-color: #ffffff;
}
.bg-e0b864 {
  background-color: #e0b864;
}

input[type="number"] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
}

.sabor1 {
  width: 18rem;
}
.sabor2 {
  width: 12rem;
}
.sabor3 {
  width: 10rem;
}
.sabor4 {
  width: 8rem;
}
.sabor5 {
  width: 10rem;
}
.sabor6 {
  width: 12rem;
}
.sabor7 {
  width: 18rem;
}

.izquierda0 {
  left: 15vh;
}
.izquierda1 {
  left: 3vh;
}

.izquierda2 {
  left: 6vh;
}
.izquierda3 {
  left: 0vh;
}
.izquierda4 {
  left: 3vh;
}
.izquierda5 {
  left: 7vh;
}
.izquierda6 {
  left: 5vh;
}
.izquierda7 {
  left: 3vh;
}

.bottom-04 {
  bottom: -0.4rem;
}

.bg-fondoLogin {
  background-image: url("/images/cdn-3.expansion.webp");
}

.bordeRadioImgLogin {
  border-radius: 100% 46% 100% 148% / 0% 60% 40% 100%;
}

.bordeFrase {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #e188b5;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aparecer {
  opacity: 0;
}

.tina:hover .aparecer {
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.tina:hover .move_up {
  --tw-translate-y: -4rem /* 4px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.snowflake {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0;
}

.slide.active {
  opacity: 1;
}
