@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inspiration';
  src: url('./fonts/Inspiration-Regular.ttf');
}
@font-face {
  font-family: 'irish';
  src: url('./fonts/IrishGrover-Regular.ttf');
}


.sombraHeader {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 1)
}

.derretidoFresa {
position: absolute;
width: 74px;
height: 15px;
left: 123px;
top: 55px;

background: #E188B5;
}
.bg-694E4A{
  background-color: #694E4A;
}
.bg-E188B5{
  background-color: #E188B5;
}
.bg-E98746{
  background-color: #E98746;
}
.bg-F5F5DC{
  background-color: #F5F5DC;
}
.bg-F9E5BC{
  background-color: #F9E5BC;
}
.bg-F9A217{
  background-color: #F9A217;
}
.bg-ffffff{
  background-color: #ffffff;
}
.bg-e0b864{
  background-color: #e0b864;
}





  input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}



.sabor1{width: 18rem;}
.sabor2{width: 12rem;}
.sabor3{width: 10rem;}
.sabor4{width: 8rem;}
.sabor5{width: 10rem;}
.sabor6{width: 12rem;}
.sabor7{width: 18rem;}

.izquierda0{
  left: 15vh;
}
.izquierda1{
  left: 1vh;
}

.izquierda2{
  left: 5vh;
}
.izquierda3{
  left: 0vh;
}
.izquierda4{
  left: 3vh;
}
.izquierda5{
  left: 7vh;
}
.izquierda6{
  left: 5vh;
}
.izquierda7{
  left: 3vh;
}

.bottom-04 {
bottom: -0.4rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  --c:#000 90%,#0000;
  background: 
    radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
    radial-gradient(circle closest-side                     ,var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}